<div class="jumbotron-brand">
<div class="container">
  <div class="page-header">
  <div class="note note-info">
 
  <h3><u>How it works</u></h3>
  <p>
  <ul>
  <li> This is a PPLNS Mining Pool.</li>
  <li> Miners work together to find the block.</li>
  <li> The block reward is shared between miners.</li>
  <li> PPLNS system (N=30000 shares) </li>
  <li> See payouts section below to learn about how PPLNS works!</li>
  </ul>
  </p>

  <h3><u>Features</u></h3>
  <p>
    <ul>
      <li>Full stats with charts, rewards and earnings.</li>
      <li>Pool fee is 0.5 %</li>
      <li>Pool always pays all Mining rewards (Blocks & Fees & Uncle Rewards)</li>
      <li>Pool always pays tx fees.</li>
      <li>Payouts are set to run every 3 hours.</li>
      <li>Fast and stable servers with DDOS protection.</li>
      <li>Dedicated Servers located in the U.S.</li>
    </ul>
  </p>
   </div>
  </div>
</div>

  <div class="container">
  <div class="page-header">
  <div class="note note-info">
  <h3><u>Payouts</u></h3>
  
<p>Depending on the selected coin and pool, available payout schemes are PPLNS or PROP. PPLNS pool fee is 0.5%, PROP pool fee is 0.5%. The pool fee is deducted from the payout amount before the payment is made to the miner.

The PPLNS Pay Per Last N Shares reward system is used to prevent pool hopping. The pool checks how many shares you've sent from the last N (number) of pool shares and makes the payouts based on that value. Mining pools get solutions from all the connected miners, and if one of those numerous solutions appears to be a proper one, the pool gets a reward for the created block. This reward is shared proportionally to the efforts applied by the miners and forwarded to their wallets.

The Proportional (PROP) Proportional is the simplest reward system. Rewards come from “rounds” – the time between one block found by the pool and the next. You are rewarded for the shares you submit in proportion to all shares submitted during each round..

Any rewards accumulated by a given cryptocurrency address may only be paid to that particular address. Wallet balances can not be merged.</p>

    </div>
  </div>
</div>
</div>
